@import './common';

main.home{
  font-family: $os-b;  
  color: $sc;
  section{
    font-family: $ex-b;
    overflow-x: hidden;
    position: relative;
    padding: 5vh 0;
    color: $txt-pr;
    h1{ 
      font-size: 40px; 
      &.mobile-only{ font-size: 35px; } 
    }
    h2.acc.mobile-only{ font-size: 25px; }

    // Page Sections
    &.section0{
      @extend %j-c;
      height: 75vh;
      background: url(../img/bg1.jpg) no-repeat center;
      background-size: cover;
      color: $w;
      @include media("<tab"){
        padding-top: 15vh;
        height: 75vh;      
        overflow: hidden;
      }
      h1{ 
        font-size: 50px; 
        &.mobile-only{ 
          font-size: 35px; 
          margin: 20px 0;
        }
      }
      h4{ 
        margin-top: 25px;
        line-height: 40px;
        font-size: 25px; 
        &.mobile-only{ font-size: 15px; }
      }
      .ctn-search{
        background: $sc;
        padding: 35px;
        .title, .subtitle{ margin-bottom: 20px; }
        .title{ font-size: 25px; }
        .subtitle{ font-family: $ex-r; font-size: 15px; }
        .form-group{
          // height: 56px;
          position: relative;
          background: $w;
          border-radius: 5px;
          padding: 5px 15px;
          label{
            font-family: $ex-b;
            color: $txt-pr;
            font-size: 12px;
            margin: 0;
          }
          input{
            height: 35px;
            padding-left: 0;
            border: none;
          }
        }
        button{ 
          height: 56px;
          margin-top: 20px;
          font-family: $ex-b;
          font-size: 20px;
          // @include media(">=tab"){
          //   position: relative;
          //   top: 40px;
          //   margin-top: 0; 
          // }
          // margin-top: 40px; 
        }
      }
    }
    
    &.ctn-rating{
      padding: 20px;
      padding-bottom: 35px;
      background: rgba(#134555, .05);
      .title{
        font-size: 20px;
        margin-bottom: 15px;
        img{ 
          height: 20px; margin-right: 5px; 
          position: relative; top: -4px;
        }
      }
      .subtitle{
        font-family: $ex-r;
        font-size: 18px;
        .acc{ font-family: $ex-b; }
      }
    }

    &.section1{
      .points{
        margin-top: 100px;
        .ctn-point{ 
          margin-bottom: 80px;
          @include media("<tab"){ width: 100%; }          
          // img{ height: 60px; }
          .num{ 
            line-height: 1;
            font-size: 50px; 
            font-family: $os-r;
            &.dashed:after{
              content: "";
              transform: translate(-50%, 50px) scaleX(5);
              height: 120px;
              width: 1px;
              position: absolute;
              bottom: 0;
              left: 50%;
              background-image: 
                linear-gradient(to right, rgba(56, 87, 111, .15) 50%, transparent 50%), 
                linear-gradient(to right, rgba(56, 87, 111, .15) 50%, transparent 50%), 
                linear-gradient(to bottom, rgba(56, 87, 111, .15) 50%, transparent 50%), 
                linear-gradient(to bottom, rgba(56, 87, 111, .15) 50%, transparent 50%);
              background-position: left top, left bottom, left top, right top;
              background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
              background-size: 20px 3px, 20px 0px, 3px 20px, 3px 20px;
            }
          }
          h4{
            font-size: 30px;
          }
          p{ 
            font-family: $ex-r;
            font-size: 20px; 
          }
        }
      }
      p.tnc{ 
        margin-top: 50px;
        font-size: 15px; 
      }
    }

    &.section2{
      .ctn-boxes{ 
        &:first-of-type{ margin-top: 50px; }
        margin: 100px 0; 
        .box{ 
          @extend %j-s-b;
          display: inline-flex;
          flex-direction: column;
          margin: 10px;
          padding: 10px;
          width: 250px;
          height: 165px;
          @include media("<tab"){
            margin: 5px;
            padding: 10px;
            width: 165px;
            height: 120px;
            justify-content: center;
            vertical-align: top;
          }
          // &:hover{
          //   // box-shadow: inset 0 4px 4px 0 rgba(31, 68, 84, 0.1);
          //   border: solid 2px rgba($acc, 1);
          // }
          img{ 
            height: 50px; 
            margin-bottom: 25px;
          }
          span{
            font-size: 25px; 
            @include media("<tab"){ font-size: 14px; }
          }
          p{ 
            margin-top: 20px;
            font-size: 17px;
            font-family: $ex-r; 
            line-height: 1.25; 
            // @include media("<tab"){ display: none; }
          }
        }
      }
      .info-box{
        width: calc(100% + 70px);
        transform: translateX(-35px);
        text-align: left;
        color: $w;
        background: $sc;
        padding: 70px;
        padding-right: 40px;
        border-radius: 10px;
        h4{ font-size: 30px; }
        p{ font-family: $ex-r; font-size: 20px; margin: 40px 0; }
        .ctn-cargo{
          @extend %j-c;
          background: #2a5b71;
          border-radius: 5px;
          height: 66px;
          margin-bottom: 20px;
          img{ height: 25px; }
        }
      }
    }

    &.section3{
      .ctn-bm-outer{
        position: relative;
        height: 475px;
        margin-top: 50px;
        .ctn-layer0{
          @include pa(0, 0);
          z-index: -1;
          @extend %fh;
          width: 75%;          
          border-radius: 5px;
          background-color: rgba(196, 196, 196, 0.2);
          transform: translateX(15%);
          padding: 35px;
          .row{
            padding: 15px 0;
            >div>div{ background: rgba($w, .5); padding: 10px;}
          }
          hr{ width: 75%; margin: 20px auto; }
        }
        .ctn-layer1{
          @extend %j-s-b;
          position: relative;
          top: 95px;
          padding: 30px 40px;
          border-radius: 5px;
          border: solid 1px rgba(31, 68, 84, 0.2);
          background: $w;
          &::after{
            @include pa(0, 0);
            height: 150%;
            width: 90%;
            z-index: -1;
            content: "";
            background: inherit;
            border: inherit;
            border-radius: inherit;
            transform: translate(5%, -15%);
          }
          .bm{
            @include pa(0, 0);
            background: $acc;
            padding: 5px 30px;
            color: $w;
            font-family: $ex-r;
            border-top-left-radius: 5px;
          }
          img{ height: 27px; }
          .ctn-ship-info{
            @extend %j-s-b;
            >div:first-of-type{ text-align: right; }
            >div:last-of-type{ text-align: left; }
            .date{
              font-family: $ex-r;
              font-size: 15px;
            }
            .stadt{
              font-family: $ex-r;
              font-size: 15px;
              color: rgba($txt-pr, .5);
            }
            .ctn-ship-graphic{
              width: 450px;
              margin: 0 25px;
              >div:first-of-type{
                @extend %j-s-b; 
                padding: 0 25px;
                img{ height: 30px; }
              }
              .bar{ 
                margin-top: 5px;
                height: 20px; 
                background: #c4c4c4; 
                border-radius: 10px;
                position: relative;
                &::after{
                  @include pa(0, 0);
                  @extend %fh;
                  width: 60%;
                  content: "";
                  background: $acc;
                  transform: translateX(35%);
                }
              }
            }
          }
        }
      }
    }

    &.section4{
      .ctn-boxes{ 
        margin-top: 40px; 
        .box{ 
          @extend %j-s-b;
          cursor: pointer;
          display: inline-flex;
          flex-direction: column;
          margin: 10px;
          padding: 10px;
          width: 250px;
          height: 165px;
          border-radius: 10px;
          border: solid 2px rgba(31, 68, 84, .05);
          transition: border .3s;
          @include media("<tab"){
            margin: 5px;
            padding: 10px;
            width: 165px;
            height: 120px;
            justify-content: center;
            vertical-align: top;
          }
          &:hover{
            // box-shadow: inset 0 4px 4px 0 rgba(31, 68, 84, 0.1);
            border: solid 2px rgba($acc, 1);
          }
          img{ 
            height: 40px; 
            margin-bottom: 5px;
          }
          span{
            @include media("<tab"){ font-size: 14px; }
          }
          p{ 
            margin-top: 5px;
            font-family: $os-r; 
            font-size: 14px; 
            @include media("<tab"){ display: none; }
          }
        }
      }
      button{ margin-top: 50px; }
    }

    &.section6{
      @include media(">=tab"){          
        background-color: rgba(19, 69, 85, .1);
      }
      .ctn-table{
        width: 90%;
        border-radius: 10px;
        border: solid 1px rgba(31, 68, 84, .25);
        margin: 0 auto;
        margin-top: 50px;
        padding: 50px;        
        height: 480px;
        position: relative;
        .ctn-table-inner{
          position: absolute;
          top: -20px;
          left: 5%;
          width: 90%;
          height: 100%;
        }
        .row:first-of-type, .row:last-of-type{
          height: 50px;
          div{ border: none !important; }
        }
        .row:not(:nth-of-type(2)){
          font-family: $os-r;
        }
        .row{
          div{
            @extend %j-c;
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(31, 68, 84, 0.25);
            &:last-of-type{ 
              border: none; 
              background: $txt-pr;
              color: $w;
            }
            &:not(:last-of-type){
              border-right: 1px solid rgba(31, 68, 84, 0.25);
            }
          }
          img{
            height: 15px;
          }
        }
      }
      .ctn-vor-outer{
        border-radius: 10px;
        border: solid 1px rgba(31, 68, 84, 0.2); 
        .block{
          padding: 15px;
          border-bottom: solid 1px rgba(31, 68, 84, 0.2);
          &:first-of-type{
            color: $w;
            background: $sc;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            padding: 25px 0;
            font-size: 25px;
          }
          &:last-of-type{
            padding: 25px 0;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
          }
          h4{ font-size: 25px; margin: 35px 0; }
          &.reg{
            font-family: $ex-r;
            font-size: 17px;
            img{ height: 20px; margin-bottom: 10px; }
            p{ margin: 0; }
          }
        }       
      }
    }
    
    &.section7{
      @include media("<tab"){
        background-color: rgba(19, 69, 85, .1);
      }
      .row{
        &.usp{
          font-size: 17px;
          width: 80%;
          margin: 0 auto;
          margin-top: 50px;
          &.last{
            @include media("<tab"){
              margin-top: 0;
            }
          }
          div{
            @extend %j-s-b;
            flex-direction: column;
            justify-content: flex-start;
            height: 240px;
            @include media("<tab"){
              height: auto;
              margin-bottom: 25px;
            }
            img{ 
              height: 60px; 
              margin-bottom: 15px;
              @include media("<tab"){
                margin-bottom: 25px;
              }
            }
            p{ 
              font-family: $os-r; 
              width: 80%;              
              margin-top: 10px;
              @include media("<tab"){              
                margin-top: 25px;
              }
            }
          }
        }
      }
      .info-box{
        margin-top: 100px;
        border: solid 1px rgba(31, 68, 84, 0.1);
        @include media("<tab"){
          background: $w;
          margin-top: 25px;
        }
        &>div:first-child{ 
          @include media(">=tab"){
            text-align: left; 
          }
        }
        div{ 
          padding: 50px; 
          font-size: 17px;
          p{ font-family: $os-r; }
          span.acc{ font-family: $os-b; }
        }
        h2{
          margin-bottom: 50px;
          font-size: 25px; 
        }
        .bg{ 
          background-color: $txt-pr; 
          color: $w;
          h1{ font-size: 30px; }
          p{ margin-bottom: 50px; }
        }
      }
    }

    &.section8{
      .row{
        margin: 0 auto;
        @include media(">=tab"){
          margin-top: 100px;
        }
        &:first-of-type{
          margin-top: 50px;
          width: 95%;
        }
        .box{
          @extend %j-s-b;
          padding: 25px;
          flex-direction: column;
          height: 220px;
          border-radius: 10px;
          box-shadow: 0 4px 4px 0 rgba(31, 68, 84, 0.1);
          border: solid 2px rgba(31, 68, 84, 0.05);
          transition: border .3s, transform .3s;
          @include media("<tab"){
            margin-bottom: 50px;
            padding: 25px;
            height: auto;
          }
          &:hover{
            // box-shadow: inset 0 4px 4px 0 rgba(31, 68, 84, 0.1);
            border: solid 2px rgba($acc, 1);
            transform: translateY(-10px);
          }
          img{ 
            height: 60px; 
            margin-bottom: 15px;
            // &.gcp{ height: 80px; }
            // @include media("<tab"){
            // }
          }
          span{ font-size: 17px; }
          p{ 
            font-family: $os-r; 
            width: 80%;
            font-size: 25px;
            @include media("<tab"){
              margin-bottom: 0;
            }
          }
        }
        .act{
          padding: 30px;
          box-shadow: 0 4px 4px 0 rgba(37, 58, 65, 0.05);
          border: solid 1px rgba(34, 183, 231, 0.1);
          span{
            font-size: 17px;
            font-family: $os-r;
          }
          p{ font-size: 25px; }
          &.act1{
            background: url(../img/action1.png) no-repeat;
            background-size: 50% 70%;
            background-position: 100% 100%;
          }
          &.act2{
            background: url(../img/action2.png) no-repeat;            
            background-size: 40% 70%;
            background-position: 100% 100%;
          }
        }
        .kontakt{
          border-radius: 10px;
          background-color: #f7f7f7;
          padding: 50px 20px;
          p{ 
            font-family: $ex-r; 
            font-size: 30px;
          }
          .block{ 
            margin: 35px 0;
            font-family: $ex-b; 
            font-size: 25px; 
            span{ font-size: 20px; }
          }
        }
        &.info{
          flex-direction: column;
          .ctn-img img{ width: 60px; margin: 10px; }
          p{ margin: 25px 0; }      
          p:not(:nth-of-type(2)){ font-family: $os-r; }
        }
      }
    }

    &.section9{
      color: $w;
      background: url(../img/mesh.png);
      background-size: cover;
      p{ 
        margin-bottom: 30px;
        font-family: $os-sb;
        font-size: 30px;
        @include media("<tab"){
          font-size: 18px;
        }
      }
    }
  }
}

@import './workshop';
@import './modal';